*{
    margin:0;
    padding:0;
}
.row{
    max-width:1140px;
    margin:0 auto;
}
body{
    font-family:tahoma;
} 
/* header and navigation section style*/
.hero
{
    position: absolute;
    width: 1140px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/hamburger.jpg);
    height:100vh;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}
h1
{
    color: white;
}

.main-nav
{
    list-style:none ;
    float:right ;
    margin-top:60px;
}

.main-nav li
{
   padding-left:150px ;
   display: inline-block;
   margin-left:20px;
}

.main-nav a
{
    color:white ;
    text-decoration: none;
    font-size: 90%;
    font-weight: bold;
}

.logo img
{
    height:100px;
    float:left;
    margin-top: 30px;
}

.main-nav li a:hover{
    color:#e67e22 ;
    border-bottom:2px solid #e67e22 ;
    transition: all 0.5s ease-in;
    padding: 15px 0;
   }

.btn
{
    border: 1px solid #e67e22;
    padding: 10px 30px;
    color: #e67e22;
    text-decoration: none;
    border-radius: 12px;
    margin-right: 15 px;
}

.button-awesome
{
   margin-top:40px;
}
.btn-half:hover
{
   background-color:#e67e22;
   color: white;
}
.btn-full:hover
{
   background-color:#e67e22;
   color: white;
}

/* section 2 styleing */

/* copy */
.pere-section     
{
  width: 70%;
  margin-left: 15%;
  margin-bottom:20px;
}

h3:after
{
    width:100px;
    height:2px;
    background-color:#e67e22;
    display: block;
    content:" ";
    margin:0 auto;
    margin-top:30px;
}

.features h3
{
    margin: 50px 0 20px 0 ;
}


.arrenging
{
    text-align: justify;
}

.features i
{
    color:#e67e22;
    margin-left: 35%;
}

.features h4
{
    margin-left:20px;
}

/* meal section */
.mainmeal img{
    height:320px;
    width:1100;
    position: relative;
    margin-left: 200px;
    transform: scale(1.15);
    transition: all 0.5s;
}
.mainmeal img:hover
{
    transform: scale(1.05); 
}
.mainmeal-h1
{
    color: black;
    margin-top: 10px;
    margin-bottom: 30px;
}
.meal-showcase 
{
    list-style:none;
    width: 100%;
}

.meal-showcase li
{
    display:block;
    width: 25%;
    float: left;  
}

.meal-photo
{
    width:100%;
    margin:0;
    overflow: hidden;
}
.meal-photo img
{
    width:100%;
    height:auto;
    transform: scale(1.15);
    transition: all 0.5s;
}
.meal-photo img:hover 
{
    transform: scale(1.05); 
}
.meal
{
    margin-top: 60px;
    
}

/* mobile section  */

.pic img 
{
    width: 100%;
}

.mobile-text
{
    margin-top: 10 0px;
}

.work-step div
{
    border: 1px solid #e67e22 ;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height:50px;
    text-align: center;
    line-height: 50px;
}

.work-step img
{
    height:40px;
    margin-top: 20px;
    margin-right: 20px;
}

.clearfix
{
    zoom: 1;
}
.clearfix:after
{
    visibility: hidden;
    content: ".";
    height:0;
    display: block;
    clear: both;
}

.mobile h3
{
    margin-top: 30px;
}

/* cities section */

.cities
{
    margin-top: 100px;
}

.cities img{
    width: 100%;
    margin-top:50px ;
}

/* testimonials section */

.testimonials
{
    margin-top: 30px;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/po-pizza.jpg);
    padding-top: 80px;
    padding-bottom : 60px;
    color: white;
    background-attachment: fixed;
}
.testimonials p
{
    color: white;
    line-height: 25px;
    text-align: justify;
    margin-top: 4  0px ;
}

.testimonials cite img
{
    height: 50px;
    width: 50px;
    border-radius:50%;
    margin-right:10px  ;
}

/* last section */

 .btn-block
{
    background-color: #e67e22;
    color: white;
    text-align: center;
    position: relative;
    width: 50%;
    border-radius: 4px;
    margin-top:20px;
}

.social-icon {
    margin: 20px 10px;
  }
  
  @media (max-width: 1028px) {
  
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }
